<!-- Error page when you visited the wrong URL or did something very very wrong :O-->
{% extends 'base.jinja' %}
{% block content %} 
<h2>Friends:</h2>
{{friends}}
<h2>Friend Requests:</h2>
{{requests}}
<script src="/static/js/libs/socket.io.min.js"></script>
<script>
let username = "{{ username }}";
Cookies.set('username', username);
const socket = io();

function accept(id) {
    console.log("Accepted request");
    socket.emit("accept", id, username);
    // location.reload();
}
</script>
{% endblock %}