<!-- Error page when you visited the wrong URL or did something very very wrong :O-->
{% extends 'base.jinja' %}
{% block content %} 
<h2>Friends:</h2>
{{friends}}
    {# <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <tr>
            <th>Alice</th>
            <th>alice_</th>
        </tr>
        <tr>
            <th>Bob</th>
            <th>bobert</th>
        </tr>
    </table> #}
{% endblock %}